<template>
    <mdc-card>
        <div mdc-subtitle2 class="card-headline">Duration</div>
        <mdc-list-divider></mdc-list-divider>

        <div class="card-content vcenter hcenter" mdc-headline5>
          <mdc-icon class="sr1">timer</mdc-icon>${_duration|durationFormat:"h[h] m[min] s[s] S[ms]"}
        </div>
        <mdc-list-divider></mdc-list-divider>
        <ul class="mdc-list mdc-list--dense timings">
            <li class="mdc-list-item reset-cursor">
                <span class="secondary time-column sr1">Started</span>${start | dateFormat}
            </li>
            <li class="mdc-list-item reset-cursor">
                <span class="secondary time-column sr1">Ended</span> ${end | dateFormat}
<!--                <div if.bind="_hasEnded"><span class="secondary time-column">Ended</span> ${end | dateFormat}</div>-->
<!--                <span else class="secondary">Running...</span>-->
            </li>
        </ul>
    </mdc-card>
</template>
