<template>
  <mdc-card outlined="true">
    <div mdc-subtitle2 class="card-headline">Started: ${start | dateFormat:"LLLL"}</div>
    <mdc-list-divider></mdc-list-divider>

    <div class="card-content">
      <div mdc-headline5>
          <mdc-icon>timer</mdc-icon> Duration: ${_duration|durationFormat:"h[h] m[min] s[s] S[ms]"}
      </div>
    </div>
      <mdc-list-divider></mdc-list-divider>
      <div mdc-subtitle2 class="card-headline">
          <span if.bind="_hasEnded">Ended: ${end | dateFormat:"LLLL"}</span>
          <span else>Running...</span>
      </div>
  </mdc-card>
</template>
