<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="layout.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1>Layout tests</h1>
<section>
    <article
            data-qa="section/layoutTestArticle"
            class="article"
    >
        <div class="header">
            <h2>Layout-Test-Article</h2>
        </div>
        <div class="body">
            <ul class="list">
               <li>First</li>
                <li>Second</li>
                <li>Third</li>
            </ul>
        </div>
        <div class="footer">
            Footer
        </div>
    </article>
</section>
</body>
</html>
