test-report
**/report-testsundertest-*
.gradle
*.iml
.idea
target
licenses
*.zip
out
build
/bin/
/.classpath
/.project
**/*.settings
/integration-tests/src/test/resources/screenreferences/

/license3rdparty/
!/license3rdparty/*.md
/integration-tests/logs/pre-test-log4j.log
/integration-tests/pretest-status/
/integration-tests/report-pretest/
/integration-tests/chromedriver.exe
/report-ng/app/static/assets/model/
/report-ng-tests/src/test/resources/reports/report-generated-status/
/report-ng-tests/src/test/resources/reports/report-extended-status/
