<template>

    <mdc-layout-grid>
        <mdc-layout-grid-inner>
            <mdc-layout-grid-cell span="4">
                <mdc-select label="Type"
                            value.bind="queryParams.type"
                            change.delegate="_filter()"
                            outlined
                            class="w100"
                >
                    <mdc-list>
                        <mdc-list-item>(All)</mdc-list-item>
                        <mdc-list-item value="major">Major</mdc-list-item>
                        <mdc-list-item value="minor">Minor</mdc-list-item>
                    </mdc-list>
                </mdc-select>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="4">
                <mdc-text-field label="Search"
                                outlined
                                value.bind="queryParams.q"
                                keydown.delegate="_filter() & debounce"
                                class="w100"
                >
                    <mdc-icon mdc-text-field-icon leading>search</mdc-icon>
                </mdc-text-field>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="4"></mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="12">
                <mdc-linear-progress if.bind="_loading"></mdc-linear-progress>
                <mdc-data-table class="w100"
                                if.bind="_filteredFailureAspects.length > 0"
                >
                    <mdc-data-table-header>
                        <mdc-data-table-header-cell class="w75">Failure Aspect</mdc-data-table-header-cell>
                        <mdc-data-table-header-cell>Statuses</mdc-data-table-header-cell>
                    </mdc-data-table-header>
                    <mdc-data-table-content>
                        <mdc-data-table-row repeat.for="failureAspect of _filteredFailureAspects">
                            <mdc-data-table-cell class="p1" mdc-body1>
                                <a route-href="route: tests; params.bind: {q: failureAspect.name}"
                                   innerhtml.bind="failureAspect.name|html|highlightText:_searchRegexp"
                                ></a>
                            </mdc-data-table-cell>
                            <mdc-data-table-cell>
                                <div repeat.for="status of failureAspect.availableStatuses" class="mt1 mb1">
                                    <a class="badge status-${status|statusClass}"
                                          route-href="route: tests; params.bind: {q: failureAspect.name, status: _statusConverter.getClassForStatus(status)}"
                                    >${failureAspect.getStatusCount(status)} ${status|statusName}</a>
                                </div>
                            </mdc-data-table-cell>
                        </mdc-data-table-row>
                    </mdc-data-table-content>
                </mdc-data-table>
                <div if.bind="!_loading && !_filteredFailureAspects.length"
                     mdc-ripple
                     class="alert vcenter hcenter"
                >
                    <mdc-icon class="big-icon sr1">find_in_page</mdc-icon>
                    <div mdc-headline4>No failure aspects matching this criteria</div>
                </div>
            </mdc-layout-grid-cell>
        </mdc-layout-grid-inner>
    </mdc-layout-grid>
</template>
