.gitgraph-tooltip {
  position: absolute;
  margin-top: -15px;
  margin-left: 25px;
  padding: 10px;
  border-radius: 5px;
  background: #EEE;
  color: #333;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.gitgraph-tooltip:after {
  position: absolute;
  top: 10px;
  left: -18px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-right-color: #EEE;
  content: "";
}

.gitgraph-detail {
  position: absolute;
  text-align: initial;
  width: 200px;
  display: none;
  padding-bottom: 35px;
}

.gitgraph-inner {
    width: 375px;
    position: relative;
    height: auto;
    overflow: hidden;
}

.gitgraph-outer {
    height:75vh;
    overflow:auto;
    position: relative;
    overflow-x: hidden;
    max-width: 375px;
}