<template>
  <mdc-data-table>
    <mdc-data-table-header>
      <mdc-data-table-header-cell>Status</mdc-data-table-header-cell>
      <mdc-data-table-header-cell>Classes</mdc-data-table-header-cell>
      <mdc-data-table-header-cell>All Methods</mdc-data-table-header-cell>
      <mdc-data-table-header-cell>Failure Aspect</mdc-data-table-header-cell>
      <mdc-data-table-header-cell>Exit Point</mdc-data-table-header-cell>
      <mdc-data-table-header-cell>Method Runtime</mdc-data-table-header-cell>
    </mdc-data-table-header>
    <mdc-data-table-content>
      <mdc-data-table-row repeat.for="classStatistics of _classStatistics">
        <mdc-data-table-cell>
          <mdc-icon class="class-icon" if.bind="classStatistics.overallFailed>0 || classStatistics.overallSkipped>0">close</mdc-icon>
          <mdc-icon class="class-icon" if.bind="classStatistics.overallPassed>0 && classStatistics.overallFailed==0 && classStatistics.overallSkipped==0">done</mdc-icon>
        </mdc-data-table-cell>
        <mdc-data-table-cell >
          <span class="classes-name">${classStatistics.classAggregate.classContext.contextValues.name}</span>
        </mdc-data-table-cell>
        <mdc-data-table-cell >
          <ul  class="method-list" repeat.for="method of classStatistics.classAggregate.methodContexts">
            <li><mdc-icon></mdc-icon>${method.contextValues.name}</li>
            <li> <i>${ _statusConverter.iconClassesFor(classStatistics.classAggregate.methodContexts[0].contextValues.resultStatus)}</li>
          </ul>
         </mdc-data-table-cell>
      </mdc-data-table-row>
    </mdc-data-table-content>
  </mdc-data-table>
</template>
