.card-content {
  display: flex;
  justify-content: flex-start;
}

apex-chart {
  display: block;
}

.results {
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.status-button {
  margin: 0.5em 0;
}
