<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="" lang="">
    <head>
        <title>Test Results Report - Overview</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <meta name="description" content="TestNG unit test results."/>

        #parse("styleincludes.vm")
        #parse("scriptincludes.vm")

    </head>
    <body>
        #set($tabcontext = "c")
        #set($pagetitle = "Classes")
        #parse("header.vm")

        <table class="overviewTable">
            <tr>
                <th colspan="10" class="header suite">
                    <div class="suiteLinks"></div>
                    <h5>Classes</h5>
                </th>
            </tr>
            <tr class="columnHeadings">
                <th class="textcenter"></th>
                <th colspan="3" class="textcenter">Passed</th>
                <th colspan="4" class="textcenter">Failed</th>
                <th class="textcenter">Skipped</th>
                <th class="textcenter"><b>Total</b></th>
            </tr>

            #set ($methodStatsPerClass = ${runContext.getMethodStatsPerClass(true, false)})
            #set ($configMethodStatsPerClass = ${runContext.getMethodStatsPerClass(false, true)})

            #foreach($class in $methodStatsPerClass.keySet())
                #set($status = ${class.getStatus()})
                #set($total1 = 0)
                #set($total2 = 0)
                #set($totalC = 0)

            <tr class="testclassrow hidden test">
                <td class="textleft">
                    <span class="" style="color:${status.color};" title="${status.title}"><font size="4" style="vertical-align:middle;">${status.symbol}</font></span>
                    <a href="classes/${class.uuid}.html" class="tooltip">${class.name}</a>
                </td>

                #foreach ($s in ${runContext.getAvailableStatuses()})
                    #if ($s.active)
                        #set ($nr = ${methodStatsPerClass.get($class).get($s)})
                        #set ($nrC = ${configMethodStatsPerClass.get($class).get($s)})

                        #if ($s.relevant)
                            #set ($total1 = $total1 + $nr)
                        #else
                            #set ($total2 = $total2 + $nr)
                        #end

                        #set ($totalC = $totalC + $nrC)

                        <td id="${class.name}_${s.name()}" class="number" title="$s.title" style="background-color: $s.color;">
                            <font class="testMethods">
                            $nr
                            </font>
                            #if ($nrC > 0)
                            <font class="configMethods">
                                ($nrC)
                            </font>
                            #end
                        </td>
                    #end
                #end

                <td id="${class.name}_Total" class="number" style="background-color: rgb(85, 85, 85);" title="Total"><b>
                    <font class="testMethods">
                    $total1
                    #if ($total2 > 0)
                        + $total2
                    #end
                    </font>
                #if ($totalC > 0)
                    <font class="configMethods">
                        ($totalC)
                    </font>
                #end
                </b></td>
            </tr>
            #end

            <tr class="suite">
                <td class="totalLabel">Total Tests: $!{runContext.getNumberOfRepresentationalTests()}</td>
            </tr>
        </table>

        <div align="left" class="spaceleft">
            <span title="$status_PASSED.title" style="color: $status_PASSED.color"><font size="4" style="vertical-align:middle;">$status_PASSED.symbol</font></span>
            <font size="1" class="textleft">All tests passed</font>
            &nbsp;
            <span title="$status_PASSED_RETRY.title" style="color: $status_PASSED_RETRY.color"><font size="4" style="vertical-align:middle;">$status_PASSED_RETRY.symbol</font></span>
            <font size="1" class="textleft">All tests passed with retried methods</font>
            &nbsp;
            <span title="$status_FAILED.title" style="color: $status_FAILED.color"><font size="4" style="vertical-align:middle;">$status_FAILED.symbol</font></span>
            <font size="1" class="textleft">Some tests failed or skipped</font>

            <font class="configMethods">&nbsp;&nbsp;(X)&nbsp;</font><font size="1" class="textleft">Config Methods</font>
        </div>
        <br/>
        <div align="left" class="spaceleft">            
            <input type="checkbox" id="hidePassed" style="vertical-align:middle;" onclick="hidePassedTests()" />
            <font class="textleft">Hide passed Tests</font>
        </div>

        <br/>
        <br/>

            <table id="Fennecinfo" class="overviewTable infotable">
                <thead>
                    <tr>
                        <th colspan="2" class="header suite">
                            <h5>fennec Information</h5>
                        </th>
                    </tr>
                </thead>
                <tbody id="tests-3" class="tests">
                    <!--<tr class="test">-->
                        <!--<td class="textleft test">Build Java Version:</td>-->
                        <!--<td class="textleft test">$!{FennecBuildInformation.buildJavaVersion}</td>-->
                    <!--</tr>-->
                    <!--<tr class="test">-->
                        <!--<td class="textleft test">Build OS Name:</td>-->
                        <!--<td class="textleft test">$!{FennecBuildInformation.buildOsName}</td>-->
                    <!--</tr>-->
                    <!--<tr class="test">-->
                        <!--<td class="textleft test">Build OS Architecture:</td>-->
                        <!--<td class="textleft test">$!{FennecBuildInformation.buildOsArch}</td>-->
                    <!--</tr>-->
                    <!--<tr class="test">-->
                        <!--<td class="textleft test">Build OS Version:</td>-->
                        <!--<td class="textleft test">$!{FennecBuildInformation.buildOsVersion}</td>-->
                    <!--</tr>-->
                    <tr class="test">
                        <td class="textleft test">Build User:</td>
                        <td class="textleft test">$!{FennecBuildInformation.buildUserName}</td>
                    </tr>
                    <tr class="test">
                        <td class="textleft test">fennec Version:</td>
                        <td class="textleft test">$!{FennecBuildInformation.FennecVersion}</td>
                    </tr>
                    <tr class="test">
                        <td class="textleft test">Build Timestamp:</td>
                        <td class="textleft test">$!{FennecBuildInformation.buildTimestamp}</td>
                    </tr>
                </tbody>
            </table>
</body>

<script type="text/javascript">
function showTable() {
    var delay = 70;
    var delayStep = 30;
    $('.testclassrow').each(function() {
//        $(this).delay(delay).toggle("slide");
        $(this).delay(delay).fadeIn(200);
        delay = delay + delayStep;
    })
}

showTable();
</script>

</html>
