<div>
    <div class="testOutput">
        <table id="logging-${testMethod.methodRunIndex}-table" class="dataTable">
            <thead>
            <tr>
                <th>
                    Action
                </th>
                <th>
                    Level
                </th>
                <th>
                    Date
                </th>
                <th>
                    Thread
                </th>
                <th>
                    Logger
                </th>
                <th>
                    Message
                </th>
            </tr>
            </thead>
            <tbody id="logging-${testMethod.methodRunIndex}-tbody">


                #foreach ($step in $testMethod.steps().getTestSteps())

                    #set($stepNumber = $step.getNumber())
                    #foreach ($action in $step.getTestStepActions())

                        #set($actionNumber = $action.getNumber())
                        #set($viewclass = "viewclass_${stepNumber}_${actionNumber}")

                        #foreach ($entry in $action.getTestStepActionEntries())

                            #set($entryNumber = $entry.getNumber())
                            #if ($entry.getLogMessage())
                                #set($logMessage = $entry.getLogMessage())

                                #set ($ll = $logMessage[0])
                                #if ($ll.contains("WARN"))
                                <tr class="logentry viewclass_${stepNumber} $viewclass ll_warning">
                                #elseif ($ll.contains("ERROR"))
                                <tr class="logentry viewclass_${stepNumber} $viewclass ll_error">
                                #elseif ($ll.contains("DEBUG"))
                                <tr class="logentry viewclass_${stepNumber} $viewclass ll_debug">
                                #elseif ($ll.contains("TRACE"))
                                <tr class="logentry viewclass_${stepNumber} $viewclass ll_trace">
                                #else
                                <tr class="logentry viewclass_${stepNumber} $viewclass">
                                #end
                                <td class="top textleft"> <!-- action -->
                                    <a href="#" onclick="javascript:$('#link_${viewclass}').click();">${stepNumber}.${actionNumber}</a>
                                </td>
                                <td class="top textleft"> <!-- level -->
                                    $logMessage[0]
                                </td>
                                <td class="top textleft"> <!-- date -->
                                    $logMessage[1]
                                </td>
                                <td class="top maxwidth textleft"> <!-- thread -->
                                    $logMessage[2]
                                </td>
                                <td class="top logMessage textleft"> <!-- logger -->
                                    $logMessage[3]
                                </td>
                                <td class="top logMessage textleft"> <!-- message -->
                                    $logMessage[4]
                                </td>
                            </tr>
                            #end

                            #if ($entry.getBeforeScreenshot() || $entry.getAfterScreenshot())
                            <tr class="logentry viewclass_${stepNumber} $viewclass">
                                <td class="top textleft">
                                    <!--<a href="#" onclick="javascript:$('#link_${viewclass}').click();">${stepNumber}.${actionNumber}</a>-->
                                </td>
                                <td></td>
                                <td colspan="2" style="position: relative;">
                                    <!-- before -->
                                    #if ($entry.getBeforeScreenshot())
                                        <a href="${entry.getBeforeScreenshot()}" target="_blank">
                                            <img alt="before" src="${entry.getBeforeScreenshot()}" width="300px"/>
                                        </a>
                                        <div style="position: absolute; padding: 5px;background: #ff7777; bottom: 10px; opacity: 0.8;"><h6>Screenshot before</h6></div>
                                    #end
                                </td>
                                <td colspan="2" style="position: relative;">
                                    <!-- after -->
                                    #if ($entry.getAfterScreenshot())
                                        <a href="${entry.getAfterScreenshot()}" target="_blank">
                                            <img alt="after" src="${entry.getAfterScreenshot()}" width="300px"/>
                                        </a>
                                        <div style="position: absolute; padding: 5px;background: #ff7777; bottom: 10px; opacity: 0.8;"><h6>Screenshot after</h6></div>
                                    #end
                                </td>
                            </tr>

                            #end

                        #end
                    #end
                #end

            </tbody>
        </table>
    </div>
</div>
