#if ($methodInfo.hasScreenshots())
    #if (!$relativeTo)
        #set($relativeTo="")
    #end
        <div class="fotorama"
             style="width: 800px;"
             data-width="800px"
             data-navposition="top"
             data-allowfullscreen="native"
             data-nav="thumbs"
             data-arrows="true"
             data-click="true"
             data-swipe="true"
             data-fit="scaledown"
             data-thumbwidth="32"
             data-thumbheight="32">
            #foreach( $path in $methodInfo.getScreenshotPaths().keySet() )
                #set( $infoText = "No further information" )
                #set( $scInfo = $methodInfo.getScreenshotInfos().get($path) )
                #if ($scInfo)
                    #set( $infoText = "$scInfo" )
                #end
                <div data-img="$relativeTo$path">
                    <!-- Fullscreen -->
                    <a class="gallerybutton" href="#" title="Fullscreen" onclick="var fotorama = $('.fotorama').fotorama().data('fotorama');fotorama.cancelFullScreen();">
                        <i class="bgwhite fa fa-arrows-alt"></i>
                    </a>
                    <!-- pic download link -->
                    <a class="gallerybutton" target="_blank" title="Download" href="$relativeTo$path">
                        <i class="bgwhite fa fa-cloud-download"></i>
                    </a>
                    <!-- page source -->
                    #if ($methodInfo.getScreenshotPaths().get($path))
                    <a class="gallerybutton" title="PageSource" target="_blank" href="$relativeTo$methodInfo.getScreenshotPaths().get($path)">
                        <i class="bgwhite fa fa-file-code-o"></i>
                    </a>
                    #end
                    <!-- Info -->
                    <div class="selectable screenshotmessagebox">$infoText</div>
                </div>
            #end
        </div>
#end