.logs {
    white-space: pre;
    width: 100%;
    overflow: scroll;

    @media only screen and (max-height: 1300px) {
        height: 700px;
    }

    @media only screen and (max-height: 900px) {
        height: 500px;
    }

    @media only screen and (max-height: 700px) {
        height: 300px;
    }
}
