.logs {
    white-space: pre;
    width: 100%;
    overflow: scroll;

    // breakpoints according to: https://getbootstrap.com/docs/5.0/layout/breakpoints/

    @media (max-height: 1199.98px) {
        height: 700px;
    }

    @media (max-height: 991.98px) {
        height: 500px;
    }

    @media (max-height: 767.98px) {
        height: 300px;
    }
}
