@use "@material/theme" with (
  $primary: #e63946,
  $secondary: #a8dadc,
  $on-primary: #f1faee,
  $on-secondary: #1d3557,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use '@material/card/mdc-card';
@use '@material/card';
@use '@material/checkbox';
@use '@material/icon-button';
@use '@material/data-table';
@use '@material/data-table/mdc-data-table';
@use '@material/dialog/mdc-dialog';
@use '@material/dialog';
@use '@material/drawer/mdc-drawer';
@use '@material/drawer';
@use '@material/elevation/mdc-elevation';
@use '@material/icon-button/mdc-icon-button';
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/list/mdc-list';
@use '@material/list';
@use '@material/textfield/mdc-text-field';
@use '@material/textfield';
@use '@material/switch/mdc-switch';
@use '@material/switch';
@use '@material/form-field/mdc-form-field';
@use '@material/form-field/_index' as form-field;
@use '@material/ripple/mdc-ripple';
@use '@material/ripple';
@use '@material/menu/mdc-menu';
@use '@material/menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/radio/mdc-radio';
@use '@material/radio';
@use '@material/tab-bar/mdc-tab-bar';
@use '@material/tab-bar';
@use '@material/tab-scroller/mdc-tab-scroller';
@use '@material/tab-scroller';
@use '@material/tab-indicator/mdc-tab-indicator';
@use '@material/tab-indicator';
@use '@material/tab/mdc-tab';
@use '@material/tab';
@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/top-app-bar';
@use '@material/typography/mdc-typography';
@use '@material/typography';

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.core-styles;

/*General style settings______________________________________________________________________________________________*/

//Body has a native margin for some reason
body {
  margin: 0;
}

#logo{
  width: 60px;
  height: 60px;
}

//Put drawer behind top app bar
.app-top-bar {
  z-index: 7;
}

.flex-container {
  display: flex;
}

//adapt router view size to drawer because it doesn't do that on it's own for some reason
.mdc-drawer-app-content {
  width:100vw;
  display: flex;
  flex: 0 1 auto;
  box-sizing: content-box;
  padding: 1.5rem 2rem;
  background-color: #f5f5f5;
}

#content-router {
  width: 100%;
}

.btn-secondary {
  @include button.filled-accessible(theme.$secondary);
}

.mdc-card {
  @include card.fill-color(#ffffff);
}

/*Testing view________________________________________________________________________________________________________*/

.demo-layout__row--no-wrap {
    display: flex;
    flex-direction: row;
  }
