@import "mdc";
@import "statuses";

/*General style settings______________________________________________________________________________________________*/

//Body has a native margin for some reason
body {
  margin: 0;
}

#logo{
  margin-top: -18px;
  margin-left: -20px;
  width: 60px;
  height: 60px;
}

//prevents app-content overflowing out of screen
.flex-container {
  display: flex;
}

.full-width {
  width: 100%;
}

.default-padding {
    padding: 1em;
}
