@import "styles/mdc";
@import "styles/statuses";
@import "src/styles/layout";

/*General style settings______________________________________________________________________________________________*/

//Body has a native margin for some reason
body {
    margin: 0;
    //height: 100%;
}
html {
    //height: 100%;
}

.logo {
    width: 60px;
    height: 60px;
}

.alert {
    @extend .w100;
    @extend .p1;
    min-height: 10em;
    text-align: center;
    vertical-align: center;
}


.code-view {
    padding: 0.5rem;
    background-color: #2b2b2b;
    //@extend .secondary;
    //border: 2px solid #495561; /*gray-300*/
    //border-radius: 2px;
    //word-break: break-all;
    overflow-x: auto;
    color: #c0dee0;
    line-height: 1.5em;
    font-family: monospace;
    //
    //.line {
    //    padding: 0.3em;
    //}

    .error {
        background: darken($failed, 36)
    }

    .warn {
        background: darken($skipped, 36)
    }

    .indicator {
        width:1rem;
        display: inline-block;
    }

    .number {
        @extend .indicator;
        padding-right: 2rem;
        color: #808080 !important;
    }

    .line {
        padding: 0.1rem 0.4rem;
    }
    .clickable {
        cursor: pointer;
    }
}

//a {
//    mdc-icon {
//        text-decoration: none !important;
//    }
//}

.status-column {
    width: 160px;
}

.class-column {
    width:300px;
}
