<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <!-- Normal file appender to compare behaviour of the TestReportAppender. -->
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="logs/integration-test-log4j.log" />
        <param name="MaxFileSize" value="1MB" />
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="1" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{2} - %m%n" />
        </layout>
    </appender>
    <root>
        <level value="DEBUG" />
        <appender-ref ref="file" />
    </root>
</log4j:configuration>