<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <File name="MyFile" fileName="logs/integration-test-log4j.log" maxFileSize="1MB" maxBackupIndex="1">
            <PatternLayout>
                <Pattern>%-5p %c{2} - %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="MyFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>
