<template>
  <h1>${_executionContext.contextValues.name}</h1>
  <p>
    Started: ${_executionContext.contextValues.startTime|dateFormat:"LLL"}<br>
    Ended: ${_executionContext.contextValues.endTime|dateFormat:"LLL"}<br>
  </p>
  <div class="demo-container mdc-card">
    <button mdc-button outlined>
      <mdc-icon>favorite</mdc-icon> ${_executionStatistics.overallPassed} Passed
    </button>
    <button mdc-button outlined>
      <mdc-icon>favorite</mdc-icon>  ${_executionStatistics.overallSkipped} Skipped
    </button>
    <button mdc-button outlined>
      <mdc-icon>favorite</mdc-icon>  ${_executionStatistics.overallFailed} failed
    </button>
  </div>
  <apex-chart data.bind="_apexDonutOptions" id="donut-chart"></apex-chart>-
</template>
