<template>
    <mdc-linear-progress if.bind="_loading"></mdc-linear-progress>
    <mdc-layout-grid>
        <mdc-layout-grid-inner>
            <mdc-layout-grid-cell span="12">
                <mdc-card>
                    <div mdc-subtitle2 class="card-headline">Threads overview</div>
                    <mdc-list-divider></mdc-list-divider>
                        <div ref="_container" class="chart"></div>
                </mdc-card>
            </mdc-layout-grid-cell>
        </mdc-layout-grid-inner>
    </mdc-layout-grid>
</template>
