@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/checkbox";
@use "@material/icon-button";
@use "@material/data-table";
@use "@material/data-table/mdc-data-table";
@use '@material/theme';
@use '@material/dialog/mdc-dialog';
@use '@material/dialog';
@use "@material/drawer/mdc-drawer";
@use '@material/elevation/mdc-elevation';
@use '@material/list/mdc-list';
@use '@material/list';
@use '@material/textfield/mdc-text-field';
@use '@material/textfield';
@use '@material/switch/mdc-switch';
@use '@material/switch';
@use '@material/form-field/mdc-form-field';
@use '@material/form-field/_index' as form-field;
@use '@material/ripple/mdc-ripple';
@use '@material/ripple';
@use '@material/menu/mdc-menu';
@use '@material/menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/radio/mdc-radio';
@use '@material/radio';
@use '@material/tab-bar/mdc-tab-bar';
@use '@material/tab-bar';
@use '@material/tab-scroller/mdc-tab-scroller';
@use '@material/tab-scroller';
@use '@material/tab-indicator/mdc-tab-indicator';
@use '@material/tab-indicator';
@use '@material/tab/mdc-tab';
@use '@material/tab';
@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/top-app-bar';
@use '@material/icon-button/mdc-icon-button';
.button-primary {
  @include button.filled-accessible(theme.$primary);
}
.mdc-drawer-app-content {
  position: unset !important ;
}
mdc-drawer {
  position: fixed !important;
}
.button-secondary {
  @include button.filled-accessible(theme.$secondary);
}
.demo-drawer-app {
  border: 1px solid rgba(0,0,0,.15);
  max-height: 30em;
  overflow: hidden;
  position: relative;
  z-index: 0;
  height: 20em;
  width: 50%;
}

 .demo-layout__row--no-wrap {
   display: flex;
   flex-direction: row;
 }

.elevation__item{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  min-width: 150px;
}
//fixing the drawer
.mdc-drawer--modal {
  position: absolute !important;
}

html, body {
  margin: 0;
  padding: 0;
}
.app-top-bar {
  z-index: 7;
}
router-view {
  position: absolute;
  margin-top: 66px;
  margin-left: 10px;
}
