<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="" lang="">
    <head>
        <title>Memory Consumption</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <meta name="description" content="Results of Page Measurements."/>

        #parse("styleincludes.vm")
        #parse("scriptincludes.vm")
    </head>
    <body>

    #set($tabcontext = "$tabId")
    #set($pagetitle = "$tabName")
    #parse("header.vm")

    <table class="standardTable" width="100%">
            <tr>
                <th colspan="9" class="header suite">
                    <div class="suiteLinks"></div>
                    <h5>$tabName</h5>
                </th>
            </tr>
            <tr>
                <td>

    #set ($i = 0)
    #foreach ($cm in $cmc.getAllSeries())
        #set ($i = $i + 1)
        #set ($marks = $cmc.getMarkers($cm))
        #set ($meas = $cmc.getMeasurements($cm))

        <canvas id="ConsumptionMeasurementsView$i" style="padding:20px; width:100%; height: 300px;"></canvas>

        <script>
         function drawConsumptionMeasurementsView$i() {

            var categories = [
                #foreach ($key in $meas.keySet())
                    '$key',
                #end
            ];

            var data = {
                datasets: [
                    {
                        label: '$cm.getName()',
                        backgroundColor: '#7cb3ec',
                        borderColor: '#7cb3ec',
                        fill: false,
                        data: [
                            #foreach ($key in $meas.keySet())
                                {
                                t: moment($key),
                                y: $meas.get($key)
                                },
                            #end
                        ]
                    },
                    #if ($cm.getMaxValue())
                    {
                        label: 'Max',
                        backgroundColor: 'red',
                        borderColor: 'red',
                        fill: false,
                        data: [
                            #foreach ($key in $meas.keySet())
                                {
                                t: moment($key),
                                y: $cm.getMaxValue()
                                }
                                ,
                            #end
                        ]
                    }
                    #end
                ]
            };

            var options = {
                title: {
                    display: true,
                    text: '$cm.getName() / $cm.getUnit()'
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second'
                        }
                    }],
                    yAxes: [{
                    }]
                }
            };

            var canvas = $("#ConsumptionMeasurementsView$i");

            var chart = new Chart(canvas, {
                type: 'line',
                data: data,
                options: options
            });
        }

        drawConsumptionMeasurementsView$i();
        </script>

    #end
                </td>
            </tr>
    </table>
    </body>

</html>