#if ($m.isConfigMethod())
    #set ($c1 = "setupMethod")
#else
    #set ($c1 = "testMethod")
#end

#if ($m.isSuccessful())
    #set ($c2 = "passedMethod")
#elseif ($m.isSkipped())
    #set ($c2 = "skippedMethod")
#else
    #set ($c2 = "failedMethod")
#end

<li>
    <div class="$c1 $c2">
        <a class="" href="${m.methodRunIndex}.html">
            #if ($testMethod == $m)
                <i class="symbols fa fa-star fa-2x" style="color: black;"></i>
            #end
            $m.getTestMethodName()

            #if ($m.isConfigMethod())
                <i class="symbols fa fa-gear"></i>
            #else

            #end

        </a>
    </div>
