#foreach ($originalTestMethodRelatedMethodContext in $testMethod.getRelatedMethodContexts())
    {
    var originalTestMethodRelatedMethodContextItem = {
        id: $originalTestMethodRelatedMethodContext.methodRunIndex,
        name: "$originalTestMethodRelatedMethodContext.name",
        isSetUpMethod: $originalTestMethodRelatedMethodContext.isConfigMethod(),
        backgroundColor: "#008000",
        isInitialMethod: ($testMethod.methodRunIndex == $originalTestMethodRelatedMethodContext.methodRunIndex),
        link: "$originalTestMethodRelatedMethodContext.methodRunIndex" + ".html",
        linkedMethod: $testMethod.methodRunIndex,
        isAfterMethod: (("$originalTestMethodRelatedMethodContext.infos").indexOf("@AfterMethod") != -1),
        isBeforeMethod: (("$originalTestMethodRelatedMethodContext.infos").indexOf("@BeforeMethod") != -1),
        parentToMethod: "",
        group: "",
        backgroundColor : "${originalTestMethodRelatedMethodContext.status.color}"
    };

    #if ($originalTestMethodRelatedMethodContext.getDependsOnMethodContexts())
        #foreach ($dependsOnMethodMethodContext in $originalTestMethodRelatedMethodContext.getDependsOnMethodContexts())
            var currentMethodRunIndex = $originalTestMethodRelatedMethodContext.methodRunIndex;

            #foreach ($checkDependsOnMethodMethodContext in $originalTestMethodRelatedMethodContext.getDependsOnMethodContexts())
                #if ($checkDependsOnMethodMethodContext != $dependsOnMethodMethodContext)
                    if ($checkDependsOnMethodMethodContext.methodRunIndex < currentMethodRunIndex &&
                        $checkDependsOnMethodMethodContext.methodRunIndex > $dependsOnMethodMethodContext.methodRunIndex
                    ) {
                        currentMethodRunIndex = $checkDependsOnMethodMethodContext.methodRunIndex;
                    }
                #end
            #end

            #foreach ($dependsOnMethodRelatedMethodContext in $dependsOnMethodMethodContext.getRelatedMethodContexts())
                var dependsOnMethodRelatedMethodContextItem = {
                    id: $dependsOnMethodRelatedMethodContext.methodRunIndex,
                    name: "$dependsOnMethodRelatedMethodContext.name",
                    isSetUpMethod: $dependsOnMethodRelatedMethodContext.isConfigMethod(),
                    backgroundColor: "#008000",
                    isInitialMethod: ($testMethod.methodRunIndex == $dependsOnMethodRelatedMethodContext.methodRunIndex),
                    link: "$dependsOnMethodRelatedMethodContext.methodRunIndex" + ".html",
                    linkedMethod: $dependsOnMethodMethodContext.methodRunIndex,
                    isAfterMethod: (("$dependsOnMethodRelatedMethodContext.infos").indexOf("@AfterMethod") != -1),
                    isBeforeMethod: (("$dependsOnMethodRelatedMethodContext.infos").indexOf("@BeforeMethod") != -1),
                    parentToMethod: currentMethodRunIndex,
                    group: ""
                };

                if (("$dependsOnMethodRelatedMethodContext.infos").indexOf("@AfterMethod") != -1) {
                    dependsOnMethodRelatedMethodContextItem.parentToMethod = "";
                }
                if (("$dependsOnMethodRelatedMethodContext.infos").indexOf("@BeforeMethod") != -1) {
                    dependsOnMethodRelatedMethodContextItem.parentToMethod = "";
                }

                dependsOnMethodRelatedMethodContextItem.backgroundColor = "${dependsOnMethodRelatedMethodContext.status.color}";

                methods[dependsOnMethodRelatedMethodContextItem.id] = dependsOnMethodRelatedMethodContextItem;
            #end
        #end
    #end

    methods[originalTestMethodRelatedMethodContextItem.id] = originalTestMethodRelatedMethodContextItem;
    }
#end