
<div id="DetailsPagesWithoutElementChecksErros" class="hidden dialog">
    <table class="log">
        <tbody class="textleft">
        #foreach ($error in $metrics.getPagesWithoutElementChecksErros())
        <tr><td style="padding:5px;">$error</td></td>
        #end
        </tbody>
    </table>
</div>

<div id="DetailsUndescriptedAssertCallersByMethod" class="hidden dialog">
<table class="log">
    <thead class="textcenter">
    </thead>
    <tbody class="textleft">
    #foreach ($method in $metrics.getUndescriptedAssertCallersByMethod().keySet())
    <tr><td style="padding:5px;">
        $method :
        #foreach ($caller in $metrics.getUndescriptedAssertCallersByMethod().get($method))
        $caller
        #end
    </td></tr>
    #end
    </tbody>
</table>
</div>

<div id="DetailsNoAssertsByMethod" class="hidden dialog">
<table class="log">
    <tbody class="textleft">
    #foreach ($method in $metrics.getNoAssertsByMethod())
    <tr><td style="padding:5px;">$method</tr></td>
    #end
</tbody>
</table>
</div>


<div id="DetailsPagesWithoutCheckPageErrros" class="hidden dialog">
<table class="log">
    <tbody class="textleft">
    #foreach ($error in $metrics.getPagesWithoutCheckPageErrros())
    <tr><td style="padding:5px;">$error</td></tr>
    #end
    </tbody>
</table>
</div>

<div id="DetailsPageMethodsReturningVoidList" class="hidden dialog">
<table class="log">
    <tbody class="textleft">
    #foreach ($error in $metrics.getPageMethodsReturningVoidList())
    <tr><td style="padding:5px;">$error</td></tr>
    #end
    </tbody>
</table>
</div>
