<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="" lang="">
    <head>
        <title>Test Results Report</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <meta name="description" content="TestNG unit test results."/>

        #parse("styleincludesrelative.vm")

        <link rel="stylesheet" href="../style/fotorama.css"/>

        #parse("scriptincludesrelative.vm")
        <script type="text/javascript" src="../js/highlight.pack.js"></script>
        <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
        <!--<script type="text/javascript" src="../js/pace.min.js"></script>-->

        <script type="text/javascript" src="../js/fotorama.js"></script>
        <script type="text/javascript" src="../js/cytoscape.min.js"></script>
        <script type="text/javascript" src="../js/dagre.js"></script>

    </head>

    <body>
        #set($cols = 3)

        #set($velocityCount1 = 1)

        #set($tabcontext = "sc")
        #parse("headerrelative.vm")

        <br/>

        #set($bubbleSize = "30px")

        <!-- description table -->
        <div style="padding-left:70px; padding-right:70px; width:100%;">
            <table width="100%" style="background: floralwhite;">
                <tr>
                    <td class="cellCenter">
                        <div class="dashboardTextSmall">
                            Legend:
                        </div>
                    </td>
                    #foreach ($st in $status)
                        <td class="cellCenter" style="opacity:0.8 !important;">
                            <div title="${st.name()}" style="margin:auto; width:$bubbleSize; height:$bubbleSize; background-color:${st.getColor()}; border-radius:$bubbleSize;"> </div>
                        </td>
                    #end
                    <td class="cellCenter" style="width:60%">
                        <div class="textright dashboardTextSmall" style="padding-right: 10px;">
                            Methods: $containerMap.size()
                        </div>
                    </td>
                </tr>
            </table>
        </div>


        <table width="100%" class="resultsTable">
            <thead class="dashboardTextSmall" style="margin:20px;">
            <tr>
                <td>Previous</td>
                <td>Actual</td>
                <td>Method</td>
                <td>Class</td>
            </tr>
            </thead>
            <tbody>
            #if ($containerMap.keySet().size() == 0)
            <tr>
                <td class="cellCenter dashboardTextSmall" colspan="4" style="padding:100px;">No changes in this run</td>
            </tr>
            #end

            #foreach($mActual in $containerMap.keySet())
                #set($mPrevious = $containerMap.get($mActual))
                <tr>
                    <td class="cellCenter" style="opacity:0.8 !important;">
                        <div title="$mPrevious.getStatus()" style="margin:auto; width:$bubbleSize; height:$bubbleSize; background-color:$mPrevious.getStatus().getColor(); border-radius:$bubbleSize;"> </div>
                    </td>
                    <td class="cellCenter" style="opacity:0.8 !important;">
                        <div title="$mActual.getStatus()" style="margin:auto; width:$bubbleSize; height:$bubbleSize; background-color:$mActual.getStatus().getColor(); border-radius:$bubbleSize;"> </div>
                    </td>
                    <td class="dashboardTextVerySmall cellCenter" style="padding:10px; opacity:0.9 !important;">
                        <a onclick='showLoadingIn(null);' href="../methods/${mActual.methodRunIndex}.html" title="Details">$mActual.getTestMethodName()
                        </a>
                        #set($testMethod = $mActual)
                        #parse("methodTags.vm")
                    </td>
                    <td class="dashboardTextVerySmall cellCenter" style="opacity:0.9 !important;">
                        <a href="../classes/${mActual.getTestClassContainer().getReportClassName()}.html" title="Jump to $mActual.getTestClassContainer().getReportClassName()">$mActual.getTestClassContainer().getReportClassName()</a></td>
                </tr>
            #end
            </tbody>
        </table>

    </body>

</html>