<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="" lang="">
    <head>
        <title>Test Results Report - Overview</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <meta name="description" content="TestNG unit test results."/>
        #parse("styleincludes.vm")
    </head>
    <body>

        #set($tabcontext = "s")
        #set($pagetitle = "Suites")
        #parse("header.vm")

        <!-- tree navigation -->
        <table id="suitestable" class="overviewTable">
            <tr>
                <th colspan="1" class="header suite">
                    <div class="suiteLinks"></div>
                    Suites
                </th>
            </tr>
            <tr>
                <td>
                    <!--<div>-->
                    <ul id="treeMenu" class="textleft">
                        #if($testClassList)
                        #set($suite = "")
                        #set($test = "")
                        #foreach( $testClass in $testClassList )
                        #set($printSuite="false")
                        #set($printTest="false")
                        #if($suite != $testClass.suiteName)
                        #if($suite!="")
                        <!-- Close previous list of suite. -->
                    </ul>
                </li>
                #end
                #set($suite = $testClass.suiteName)
                #set($printSuite="true")
                #end
                #if($test != $testClass.testName || $printSuite=="true")
                #if($test!="")
                <!-- Close previous list of test. -->
            </ul>
        </li>
        #end
        #set($test = $testClass.testName)
        #set($printTest="true")
        #end
        #if($printSuite=="true")
        <li class="treeMenu_opened">$testClass.suiteName
            <ul>
                #end
                #if($printTest=="true" || $printSuite=="true")
                <li class="treeMenu_opened">$testClass.testName
                    <ul>
                        #end
                        <li class="leaf">
                            #if(!$testClass.successful)
                            <span class="brokenIndicator" title="Failed.">&#x2718;</span>
                            #else
                            <span class="successIndicator" title="Passed.">&#x2714;</span>
                            #end
                            #set($sub="_")
                            <a href="suites/$testClass.suiteName$sub$testClass.testName$sub${testClass.testClassName}.html"
                               target="main">
                                ${testClass.testClassName}
                            </a>
                        </li>
                        #end
                        #end
                    </ul>
                    <!--</div>-->
                </td>
            </tr>
        </table>


        <table class="overviewTable" width="100%">
            <tr>
                <th colspan="6" class="header suite">
                    <div class="suiteLinks"></div>
                    Classes
                </th>
            </tr>
            <tr class="columnHeadings">
                <!--<th class="textcenter">Suite</th>-->
                <th class="textcenter">Test</th>
                <th class="textcenter">Class</th>
                <th class="textcenter">Passed</th>
                <th class="textcenter">Failed</th>
                <th class="textcenter">Skipped</th>
                <th class="textcenter">Pass Rate</th>
            </tr>

            #if($testClassList)
            #foreach( $testClass in $testClassList )
            <tr class="test">
                <!--<td class="textleft">-->
                    <!--#if(${testClass.suiteName})-->
                    <!--$testClass.suiteName-->
                    <!--#end-->
                <!--</td>-->
                <td class="textleft">
                    #if(${testClass.testName})
                    $testClass.testName
                    #end
                </td>
                <td class="textleft" nowrap="nowrap">
                    #if(!$testClass.successful)
                        <span class="brokenIndicator" title="Failed.">
                            <font size="4" style="vertical-align:middle;">&#x2718;</font>
                        </span>
                    #elseif($testClass.retry)
                    <span class="successIndicator Retry" title="Passed with retries"><font size="4" style="vertical-align:middle;">&#x2714;</font></span>
                    #else
                        <span class="successIndicator" title="Passed.">
                            <font size="4" style="vertical-align:middle;">&#x2714;</font>
                        </span>
                    #end

                    #if(${testClass.suiteName})
                    #set($sub="_")
                    <a href="suites/$testClass.suiteName$sub$testClass.testName$sub${testClass.testClassName}.html"
                       target="main">
                    #else
                    <a href="suites/${testClass.testClassName}.html" target="main">
                        #end
                        ${testClass.testClassName}
                    </a>
                </td>

                <td class="passed number">$!{testClass.getNumberOfSuccessfulTestMethods()}</td>

                <td class="broken number">$!{testClass.getNumberOfFailedTests()}</td>

                <td class="skipped number">$!{testClass.getNumberOfSkippedTestMethods()}</td>

                <td class="passRate number">
                    $!{testClass.getPassRate()}%
                </td>
            </tr>
            #end
            #end

            <tr class="suite">
                <td class="totalLabel" colspan="2">Total Tests: $!{testStatistics.getNumberOfTests()}</td>

                <td class="passed number">$!{testStatistics.getNumberOfSuccessfulTests()}</td>

                <td class="broken number">$!{testStatistics.getNumberOfFailedTests()}</td>

                <td class="skipped number">$!{testStatistics.getNumberOfSkippedTests()}</td>

                <td class="passRate suite number">
                    $!{testStatistics.getPassRate()}%
                </td>

            </tr>
        </table>

        <div align="left" class="spaceleft">
            <span title="Passed" class="successIndicator"><font size="4" style="vertical-align:middle;">&#x2714;</font></span>
            <font size="1" class="textleft">All tests passed</font>
            &nbsp;
            <span title="Passed" class="successIndicator Retry"><font size="4" style="vertical-align:middle;">&#x2714;</font></span>
            <font size="1" class="textleft">All tests passed with retried methods</font>
            &nbsp;
            <span title="Failed" class="brokenIndicator"><font size="4" style="vertical-align:middle;">&#x2718;</font></span>
            <font size="1" class="textleft">Some tests failed or skipped</font>
            &nbsp;
            <img title="Sync failed, see console log for details" src="style/warnung.svg" alt="Sync failed, see console log for details">
            <font size="1" class="textleft">Sync failed warning</font>
        </div>
        <br/>
        <div align="left" class="spaceleft">            
            <input type="checkbox" id="hidePassed" style="vertical-align:middle;" onclick="hidePassedTests()" />
            <font class="textleft">Hide passed Tests.</font>
        </div>

    </body>
    #parse("scriptincludes.vm")
</html>
