<template>
    <require from="./methods-table-short.html"></require>
    <mdc-layout-grid class="pt0">
        <mdc-layout-grid-inner>
            <mdc-layout-grid-cell span="6">
                <methods-table-short
                    method-details-list.to-view="_dependsOnMethods"
                    headline="Depends on method"
                    if.bind="_dependsOnMethods.length>0"
                    route-generator.call="_generateRoute(methodDetails)"
                ></methods-table-short>
                <alert else><div mdc-headline4>No dependencies</div></alert>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="6">
                <methods-table-short
                    method-details-list.to-view="_beforeMethods"
                    headline="Related method"
                    if.bind="_beforeMethods.length>0"
                    route-generator.call="_generateRoute(methodDetails)"
                ></methods-table-short>
                <alert else><div mdc-headline4>No related methods</div></alert>
            </mdc-layout-grid-cell>
        </mdc-layout-grid-inner>
    </mdc-layout-grid>
</template>
