<template>
    <require from="components/image-card/image-card"></require>

    <mdc-layout-grid class="pt0">
        <mdc-layout-grid-inner>
            <mdc-layout-grid-cell span="12" if.bind="!_methodDetails.hasDetails">
                <alert><div mdc-headline4>This method has no error context information</div></alert>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="12" if.bind="_methodDetails.methodContext.priorityMessage">
                <mdc-card>
                    <div mdc-subtitle2 class="card-headline vcenter"><mdc-icon>priority_high</mdc-icon>Priority Message</div>
                    <mdc-list-divider></mdc-list-divider>
                    <div class="card-content" mdc-body1 innerhtml="${_methodDetails.methodContext.priorityMessage|html}"></div>
                </mdc-card>
            </mdc-layout-grid-cell>

            <mdc-layout-grid-cell span="12" if.bind="_failureAspect">
                <mdc-card mdc-elevation="4">
                    <div mdc-subtitle2 class="card-headline">Failure Aspect</div>
                    <mdc-list-divider></mdc-list-divider>
                    <div class="card-content status-${_methodDetails.methodContext.contextValues.resultStatus|statusClass}" mdc-headline5 innerhtml="${_failureAspect.name|html}"></div>
                </mdc-card>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="12" if.bind="_methodDetails.methodContext.errorContext.scriptSource">
                <mdc-card>
                    <div mdc-subtitle2 class="card-headline">Origin (${_methodDetails.methodContext.errorContext.scriptSource.fileName})</div>
                    <mdc-list-divider></mdc-list-divider>
                    <code-view lines.bind="_methodDetails.methodContext.errorContext.scriptSource.lines"></code-view>
                </mdc-card>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="12" if.bind="_stackTrace">
                <mdc-card>
                    <div mdc-subtitle2 class="card-headline">Stacktrace</div>
                    <mdc-list-divider></mdc-list-divider>
                    <mdc-expandable repeat.for="cause of _stackTrace"
                                    class="card-expandable"
                    >
                        <div slot="caption" mdc-body2><class-name namespace.bind="cause.className"><span if.bind="cause.message">: ${cause.message}</span></class-name></div>
                        <div class="code-view">
                            <div class="line"
                                 repeat.for="line of cause.stackTraceElements"
                                 class.bind="line.indexOf(_methodDetails.methodContext.contextValues.name)>=0?'error':''"
                                 innerhtml="${_hljs.highlight('java', line).value}"></div>
                        </div>
                    </mdc-expandable>
                </mdc-card>
            </mdc-layout-grid-cell>
        </mdc-layout-grid-inner>
    </mdc-layout-grid>
</template>
