<template>
    <require from="components/test-duration-card/test-duration-card"></require>
    <require from="components/image-card/image-card"></require>

    <mdc-layout-grid>
        <mdc-layout-grid-inner if.bind="!_methodDetails">
            <mdc-layout-grid-cell span="12">
                <mdc-linear-progress if.bind="loading"></mdc-linear-progress>
                <div else
                     mdc-ripple
                     class="alert vcenter hcenter"
                >
                    <mdc-icon class="big-icon sr1">find_in_page</mdc-icon>
                    <div mdc-headline4>Method not found</div>
                </div>
            </mdc-layout-grid-cell>
        </mdc-layout-grid-inner>
        <mdc-layout-grid-inner else>
            <mdc-layout-grid-cell span.bind="_lastScreenshot?6:8">
                <mdc-card>
                    <div class="card-content" mdc-body1>
                        <span class="badge status-${_methodDetails.methodContext.contextValues.resultStatus|statusClass} sr1"
                        >${_methodDetails.methodContext.contextValues.resultStatus|statusName}</span>
                        ${_methodDetails.methodContext.contextValues.name}
                    </div>
                    <mdc-list-divider></mdc-list-divider>
                    <ul class="mdc-list mdc-list--dense">
                        <li class="mdc-list-item reset-cursor vcenter">
                            <span class="secondary sr1">Class</span><mdc-icon class="sr1">read_more</mdc-icon><a route-href="route: tests; params.bind: {class: _methodDetails.classStatistics.classIdentifier}">${_methodDetails.classStatistics.classIdentifier}</a>
                        </li>
                        <li class="mdc-list-item reset-cursor">
                            <span class="secondary sr1">Test Context</span>${_methodDetails.testContext.contextValues.name}
                        </li>
                        <li class="mdc-list-item reset-cursor">
                            <span class="secondary sr1">Suite</span>${_methodDetails.suiteContext.contextValues.name}
                        </li>
                        <li class="mdc-list-item reset-cursor">
                            <span class="secondary sr1">Thread</span>${_methodDetails.methodContext.threadName}
                        </li>
                    </ul>
                </mdc-card>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="2" if.bind="_lastScreenshot">
                <mdc-card>
                    <div mdc-subtitle2 class="card-headline">Last Screenshot</div>
                    <mdc-list-divider></mdc-list-divider>
                    <image-card click.delegate="_showScreenshot(_lastScreenshot)"
                                src.bind="_lastScreenshot.relativePath"
                                title.bind="_lastScreenshot.meta.Title"
                    ></image-card>
                </mdc-card>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="4" position="right">
                <test-duration-card start.bind="_methodDetails.methodContext.contextValues.startTime"
                                    end.bind="_methodDetails.methodContext.contextValues.endTime"
                ></test-duration-card>
            </mdc-layout-grid-cell>

            <mdc-layout-grid-cell span="12">
                <mdc-tab-bar>
                    <mdc-tab repeat.for="route of _router.routes"
                             if.bind="route.nav"
                             icon.bind="route.settings.icon"
                             label="${route.title + ' ('+route.settings.count+')'}"
                             active.bind="route.navModel.isActive"
                             click.delegate="_tabClicked(route)"></mdc-tab>
                </mdc-tab-bar>
            </mdc-layout-grid-cell>
        </mdc-layout-grid-inner>
    </mdc-layout-grid>

    <router-view></router-view>

</template>
