<template>
    <require from="components/test-duration-card/test-duration-card"></require>
    <mdc-layout-grid>
        <mdc-layout-grid-inner>
            <mdc-layout-grid-cell span="6">
                <mdc-card>
                    <mdc-card-primary-action class="card-content">
                        <div mdc-headline5>
                            <span class="badge status-${_methodContext.contextValues.resultStatus|statusClass} sr1"
                            >${_methodContext.contextValues.resultStatus|statusName}</span>
                            ${_methodContext.contextValues.name}
                        </div>
                    </mdc-card-primary-action>
                    <mdc-list-divider></mdc-list-divider>
                    <mdc-list nonInteractive dense>
                        <mdc-list-item>
                            <span class="secondary sr1">Class</span>${_classContext.simpleClassName} <span if.bind="_classContext.testContextName">(${_classContext.testContextName})</span>
                        </mdc-list-item>
                        <mdc-list-item>
                            <span class="secondary sr1">Test Context</span>${_suiteContext.contextValues.name}
                        </mdc-list-item>
                        <mdc-list-item>
                            <span class="secondary sr1">Suite</span>${_suiteContext.contextValues.name}
                        </mdc-list-item>
                        <mdc-list-item>
                            <span class="secondary sr1">Thread</span>${_methodContext.threadName}
                        </mdc-list-item>
                    </mdc-list>
                </mdc-card>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="4">
                <test-duration-card start.bind="_methodContext.contextValues.startTime"
                                    end.bind="_methodContext.contextValues.endTime"
                ></test-duration-card>
            </mdc-layout-grid-cell>

            <mdc-layout-grid-cell span="12" if.bind="_methodContext.priorityMessage">
                <mdc-card>
                    <div mdc-subtitle2 class="card-headline">Priority Message</div>
                    <mdc-list-divider></mdc-list-divider>
                    <div class="card-content" mdc-body1>${_methodContext.priorityMessage}</div>
                </mdc-card>
            </mdc-layout-grid-cell>

            <mdc-layout-grid-cell span="12" if.bind="_methodContext.errorContext.description">
                <mdc-card>
                    <div mdc-subtitle2 class="card-headline">Description</div>
                    <mdc-list-divider></mdc-list-divider>
                    <div class="card-content" mdc-body1>${_methodContext.errorContext.description}</div>
                </mdc-card>
            </mdc-layout-grid-cell>
        </mdc-layout-grid-inner>
    </mdc-layout-grid>
</template>
