<template>
    <require from="components/test-duration-card/test-duration-card"></require>
    <mdc-layout-grid>
        <mdc-layout-grid-inner>
            <mdc-layout-grid-cell span="6">
                <mdc-card>
                    <div class="card-content" mdc-body1>
                        <span class="badge status-${_methodContext.contextValues.resultStatus|statusClass} sr1"
                        >${_methodContext.contextValues.resultStatus|statusName}</span>
                        ${_methodContext.contextValues.name}
                    </div>
                    <mdc-list-divider></mdc-list-divider>
                    <mdc-list nonInteractive dense>
                        <mdc-list-item>
                            <span class="secondary sr1">Class</span><a route-href="route: tests; params.bind: {class: _classContext.simpleClassName}">${_classContext.simpleClassName} <span if.bind="_classContext.testContextName">(${_classContext.testContextName})</span></a>
                        </mdc-list-item>
                        <mdc-list-item>
                            <span class="secondary sr1">Test Context</span>${_suiteContext.contextValues.name}
                        </mdc-list-item>
                        <mdc-list-item>
                            <span class="secondary sr1">Suite</span>${_suiteContext.contextValues.name}
                        </mdc-list-item>
                        <mdc-list-item>
                            <span class="secondary sr1">Thread</span>${_methodContext.threadName}
                        </mdc-list-item>
                    </mdc-list>
                </mdc-card>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="4">
                <test-duration-card start.bind="_methodContext.contextValues.startTime"
                                    end.bind="_methodContext.contextValues.endTime"
                ></test-duration-card>
            </mdc-layout-grid-cell>

            <mdc-layout-grid-cell span="12" if.bind="_methodContext.priorityMessage">
                <mdc-card>
                    <div mdc-subtitle2 class="card-headline centered"><mdc-icon>priority_high</mdc-icon>Priority Message</div>
                    <mdc-list-divider></mdc-list-divider>
                    <div class="card-content" mdc-body1 innerhtml="${_methodContext.priorityMessage|html}"></div>
                </mdc-card>
            </mdc-layout-grid-cell>

            <mdc-layout-grid-cell span="12" if.bind="_failureAspect">
                <mdc-card mdc-elevation="4">
                    <div mdc-subtitle2 class="card-headline">Failure Aspect</div>
                    <mdc-list-divider></mdc-list-divider>
                    <div class="card-content status-${_methodContext.contextValues.resultStatus|statusClass}" mdc-headline5 innerhtml="${_failureAspect.name|html}"></div>
                </mdc-card>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="6"
                                  if.bind="_methodContext.errorContext.scriptSource">
                <mdc-card>
                    <div mdc-subtitle2 class="card-headline">Source code of ${_methodContext.errorContext.scriptSource.fileName}</div>
                    <mdc-list-divider></mdc-list-divider>
                    <div class="code-view m0">
                        <pre class="m0"
                             repeat.for="line of _methodContext.errorContext.scriptSource.lines"
                             class.bind="line.mark?'highlighted':''"
                        ><span class="number">${line.lineNumber}</span><span innerhtml="${_hljs.highlight('java', line.line).value}"></span></pre>
                    </div>
                </mdc-card>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="6" if.bind="_stackTrace">
                <mdc-card>
                    <div mdc-subtitle2 class="card-headline">Stacktrace</div>
                    <mdc-list-divider></mdc-list-divider>
                    <mdc-expandable repeat.for="cause of _stackTrace"
                                    class="card-expandable"
                    >
                        <div slot="caption"><span class="secondary sr1" mdc-body2>${cause.className}</span><span mdc-body1 if.bind="cause.message">${cause.message}</span></div>
                        <pre class="code-view m0" innerhtml="${_hljs.highlight('java', cause.stackTraceElements.join('\n')).value}"></pre>
                    </mdc-expandable>
                </mdc-card>
            </mdc-layout-grid-cell>
        </mdc-layout-grid-inner>
    </mdc-layout-grid>
</template>
