<template>
    <require from="components/image-card/image-card"></require>

    <mdc-layout-grid class="pt0">
        <mdc-layout-grid-inner>
            <mdc-layout-grid-cell span="12" repeat.for="testStep of _methodContext.testSteps">
                <div mdc-headline5>${testStep.name}</div>
                <mdc-expandable repeat.for="testStepAction of testStep.testStepActions" class="mt1">
                    <div slot="caption"><span mdc-body1 class="sr1">${testStepAction.name}</span><span class="secondary" mdc-body2>${testStepAction.timestamp|dateFormat:"ddd MMM D Y LTS Z"}</span></div>
                    <div repeat.for="logMessage of testStepAction.logMessages">${logMessage.message}</div>
                </mdc-expandable>
            </mdc-layout-grid-cell>
        </mdc-layout-grid-inner>
    </mdc-layout-grid>
</template>
