<template>
    <require from="./expandable-error-context.html"></require>
    <div class="container">
        <div id="timeline">
            <div class="timeline">
                <section class="step" repeat.for="testStep of _methodDetails.methodContext.testSteps">
                    <let step-index.bind="$index+1"></let>
                    <h3 mdc-headline5>${stepIndex} ${testStep.name}</h3>
                    <div repeat.for="testStepAction of testStep.testStepActions">
                        <section>
                            <ul>
                                <li mdc-body1>${stepIndex}.${$index+1} ${testStepAction.name}<br>
                                    <span class="secondary" mdc-body2>${testStepAction.timestamp|dateFormat}</span>
                                </li>
                                <li mdc-body1 repeat.for="errorContext of testStepAction.collectedAssertions">
                                    Collected assertion
                                    <expandable-error-context error-context.bind="errorContext"
                                                              status-class="status-failed"
                                                              mark-class="error"
                                    ></expandable-error-context>
                                </li>
                                <li mdc-body1 repeat.for="errorContext of testStepAction.optionalAssertions">
                                    Optional assertion
                                    <expandable-error-context error-context.bind="errorContext"
                                                              status-class="status-skipped"
                                                              mark-class="warn"
                                    ></expandable-error-context>
                                </li>
                                <li mdc-body1 repeat.for="screenshot of testStepAction.screenshots">
                                    Screenshot
                                    <mdc-card
                                        class="thumbnail-fixed"
                                        outlined
                                    >
<!--                                        <let file.bind="_findScreenshot(screenshotId)"></let>-->
                                        <img src.bind="screenshot.relativePath"
                                             class="thumbnail-fixed clickable"
                                             click.delegate="_showScreenshot(screenshot)"
                                             title="${screenshot.meta.Title}"/>
                                    </mdc-card>
                                </li>
                                <li mdc-body1>
                                    Log messages
                                    <log-view log-messages.bind="testStepAction.logMessages"></log-view>
                                </li>
                            </ul>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>
