<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="TesterraLogger" class="eu.tsystems.mms.tic.testframework.report.DefaultLogAppender">
    </appender>
    <root>
        <level value="INFO" />
        <appender-ref ref="TesterraLogger" />
    </root>
</log4j:configuration>
