<!-- left col -->
<!-- left col -->

#set($class1 = "")
#set($style2 = "")
#if ($testMethod.status == $status_FAILED_EXPECTED)
        #set($class1 = "expfailed")
        #set($style2 = "color:white;")
#end

<td class="method $class1">

    <a class="tooltip" title="Test: ${testMethod.name}">
        <font style="opacity:0.7;">${testMethod.classContext.name} - </font><b>$testMethod.name</b>
        #if ($testMethod.classContext.merged)
            (in $testMethod.classContext.testContext.suiteContext.name - $testMethod.classContext.testContext.name)
        #end
    </a>

    #parse("methodTags.vm")

    <!-- readable message -->
    <div>
        <font class="message" style="$style2">
            <b>
                #if ($testMethod.readableErrorMessage)
                    $testMethod.readableErrorMessage
                #end

                #if ($testMethod.additionalErrorMessage)
                    $testMethod.additionalErrorMessage
                #end
            </b>
        </font>
    </div>

    <!-- buttons -->
    <div style="">

        <h6>
            <a onclick='showLoadingIn(null);' href="../methods/${testMethod.methodRunIndex}.html" title="Details">
                <i class="symbols fa fa-search-plus fa-2x"></i>Details
            </a>
        </h6>

    </div>

</td>
