<td class="method autosize">
    #if ($testMethod.isConfigMethod())
        <i class="symbols fa fa-medkit fa-2x"></i>
    #end

    $testMethod.name

    #if ($testMethod.infos)
        <div class = "nowrapinfoline">
            #foreach ($i in $testMethod.infos)
                $i<br>
            #end
        </div>
        <br>
    #end

    #if ($testMethod.classContext.merged)
        (in $testMethod.suiteContext.name - $testMethod.testContextModel.name)
    #end

    #parse("methodTags.vm")

</td>

<!-- result infos col -->

<td class="result">
    <table>
    <tr>
    <td width="100%" colspan="2">
        <pre>

        </pre>

        <!-- priority extra message -->
        #if ($testMethod.priorityMessage)
        <div class="skipped">
            $testMethod.priorityMessage
        </div>
        #end

        <!-- readable message -->
        <div>
            <font class="message">
                <b>
                    #if ($testMethod.errorContext().readableErrorMessage)
                        $testMethod.errorContext().readableErrorMessage
                    #end
                    #if ($testMethod.errorContext().getAdditionalErrorMessageFormatted())
                        <br>
                        $testMethod.errorContext().getAdditionalErrorMessageFormatted()
                    #end
                </b>
            </font>
        </div>

    </td>
    </tr>
</table>

<!-- spacer -->
<br/>

<!-- buttons -->
<div style="float:right; margin-top: -20px;">
    #if($testMethod.errorContext().stackTrace)
        <a href="javascript:toggleElement('exception-${testMethod.methodRunIndex}')" title="Stacktrace">
            <!--<img src="../style/business-circular-pie-chart.png" alt="Stacktrace" title="Stacktrace" class="symbols"/>-->
            <i class="symbols fa fa-align-left fa-2x fa-flip-vertical"></i>
        </a>
        &nbsp;

        <!-- copy stacktrace to clipboard -->
<!--
        <a href="javascript:copyToClipBoard('exception-${velocityCount}')" title="Copy Stacktrace">
            <img src="../style/gears.png" alt="Copy Stacktrace" title="Copy Stacktrace" class="symbols"/>
        </a>
        &nbsp;
-->
    #end

    <a href="../methods/${testMethod.methodRunIndex}.html" onclick="showLoadingIn();" title="Details">
        <i class="symbols fa fa-search-plus fa-2x"></i>Details
    </a>

</div>

<!-- stacktrace -->
<div>
    <div class="stackTrace" id="exception-${testMethod.methodRunIndex}">
        <div id="st" class="textLeft" style="padding:30px !important; text-align: left !important; margin-left: 20px;">
            #if($testMethod.errorContext().stackTrace)
                #set($stackTrace = $testMethod.errorContext().stackTrace)
                #parse("stackTrace.vm")
            #end
        </div>
    </div>
</div>

<!-- log -->
<div id="logging-${testMethod.methodRunIndex}" class="logelement hidden">
</div>

<!-- non-functional errors -->
#if ($testMethod.hasNonFunctionalErrors())
<table class="non-functional-stacktrace-table">
    #foreach($nfi in $testMethod.getNonFunctionalInfos())
    <tr class="test">
        <td class="non-functional-stacktrace-table-element" width="100%">
            Minor:
            <a href="javascript:void(0);"
               onclick="toggleElement('non-functional-exception-${velocityCount1}')"
               title="Click to expand/collapse">
                <b>$nfi.getReadableMessageFormatted()</b>
            </a>
            <br/>
            <div class="non-functional-stacktrace" id="non-functional-exception-${velocityCount1}">
                $nfi.getStackTrace()
            </div>
            <br/>
        </td>
        <td class="non-functional-stacktrace-table-element" style="width:0px;">
            <span class="screenshots">
                #set($methodInfo=$nfi)
                #parse("screenshotsSmall.vm")
            </span>
        </td>
        #set($velocityCount1 = $velocityCount1 + 1)
    </tr>
    #end
</table>
#end

</td>

</a>
