<template>
  <require from="../test-duration-card/test-duration-card"></require>
  <require from="../test-results-card/test-results-card"></require>
  <require from="../test-classes-card/test-classes-card"></require>

    <mdc-layout-grid>
        <mdc-layout-grid-inner>
            <mdc-layout-grid-cell span="3">
                <mdc-card>
                    <div mdc-subtitle2 class="card-headline">${_executionStatistics.testsTotal} Tests</div>
                    <mdc-list-divider></mdc-list-divider>
                    <mdc-list two-line avatar class="card-content">
                        <mdc-list-item click.delegate="_gotoTests({status: 'passed'})">
                            <mdc-icon mdc-list-item-graphic class="colored-icon status-passed big-icon">${4|statusIconName}</mdc-icon>
                            <mdc-list-item-primary-text>${_executionStatistics.overallPassed}</mdc-list-item-primary-text>
                            <mdc-list-item-secondary-text>${4|statusName}</mdc-list-item-secondary-text>
                        </mdc-list-item>
                        <mdc-list-item click.delegate="_gotoTests({status: 'skipped'})">
                            <mdc-icon mdc-list-item-graphic class="colored-icon status-skipped big-icon">${3|statusIconName}</mdc-icon>
                            <mdc-list-item-primary-text>${_executionStatistics.overallSkipped}</mdc-list-item-primary-text>
                            <mdc-list-item-secondary-text>${3|statusName}</mdc-list-item-secondary-text>
                        </mdc-list-item>
                        <mdc-list-item click.delegate="_gotoTests({status: 'failed'})">
                            <mdc-icon mdc-list-item-graphic class="colored-icon status-failed big-icon">${7|statusIconName}</mdc-icon>
                            <mdc-list-item-primary-text>${_executionStatistics.overallFailed}</mdc-list-item-primary-text>
                            <mdc-list-item-secondary-text>${7|statusName}</mdc-list-item-secondary-text>
                        </mdc-list-item>
                    </mdc-list>
                </mdc-card>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="6">
                <test-results-card execution-statistics.bind="_executionStatistics" piece-clicked.delegate="_pieceClicked($event)"></test-results-card>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="3">
                <test-duration-card start.bind="_executionStatistics.executionAggregate.executionContext.contextValues.startTime"
                                    end.bind="_executionStatistics.executionAggregate.executionContext.contextValues.endTime"
                ></test-duration-card>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="12">
                <test-classes-card filter.bind="queryParams" class-statistics.bind="_executionStatistics.classStatistics"></test-classes-card>
            </mdc-layout-grid-cell>
        </mdc-layout-grid-inner>
    </mdc-layout-grid>
</template>
