<template>
  <require from="../../value-converters/duration-format"></require>

  <div mdc-headline4>${_executionContext.contextValues.name}</div>
  <div class="layout-grid">
    <div class="grid-cell">
      <mdc-card outlined="true">
        <mdc-primary-action>
          <div mdc-body1 class="duration-info">
            Started: ${_executionContext.contextValues.startTime|dateFormat:"LLL"}<br><br>
            <span id="duration">
              <mdc-icon>timer</mdc-icon> Duration: ${_testDuration |durationFormat}
            </span><br><br>
            Ended: ${_executionContext.contextValues.endTime|dateFormat:"LLL"}<br>

          </div>
        </mdc-primary-action>
      </mdc-card>
    </div>
    <div class="grid-cell">
      <mdc-card outlined="true">
        <button mdc-button outlined class="btn-secondary">
          <mdc-icon>done</mdc-icon> ${_executionStatistics.overallPassed} Passed
        </button>
        <button mdc-button outlined class="btn-secondary">
          <mdc-icon>skip_next</mdc-icon>  ${_executionStatistics.overallSkipped} Skipped
        </button>
        <button mdc-button outlined class="btn-secondary">
          <mdc-icon>close</mdc-icon>  ${_executionStatistics.overallFailed} failed
        </button>
      </mdc-card>
    </div>
    <div class="grid-cell">
      <mdc-card outlined="true">
        <apex-chart data.bind="_apexDonutOptions" id="donut-chart"></apex-chart>
      </mdc-card>
    </div>
  </div>

  <mdc-layout-grid>
    <mdc-layout-grid-cell></mdc-layout-grid-cell>
    <mdc-layout-grid-cell></mdc-layout-grid-cell>
    <mdc-layout-grid-cell></mdc-layout-grid-cell>
  </mdc-layout-grid>

</template>
