<template>
  <require from="../test-duration-card/test-duration-card"></require>
  <require from="../test-results-card/test-results-card"></require>
  <require from="../test-classes-card/test-classes-card"></require>

  <div>
<!--    <div mdc-headline4 class="headline">Test: ${_executionContext.contextValues.name}</div>-->
    <div class="layout-grid">
      <div class="grid-cell">
        <test-duration-card></test-duration-card>
      </div>
      <div class="grid-cell grid-cell-medium">
        <test-results-card></test-results-card>
      </div>
      <div class="grid-cell grid-cell-large">
        <test-classes-card></test-classes-card>
      </div>
    </div>
  </div>
</template>
