.layout-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.mdc-card {
  min-height: 300px;
}

.card-content {
  margin: auto 0;
}

.grid-cell {
  grid-column-end: span 12;
}

@media only screen and (max-width: 1599px) and (min-width: 1160px) {
  .grid-cell {
    grid-column-end: span 6;
  }

  .grid-cell-medium {
    grid-column-end: span 12;
  }

  .grid-cell-large {
    grid-column-end: span 12;
  }
}

@media only screen and (min-width: 1600px) {
  .grid-cell {
    grid-column-end: span 4;
  }

  .grid-cell-medium {
    grid-column-end: span 8;
  }

  .grid-cell-large {
    grid-column-end: span 12;
  }
}

.duration-info {
  text-align: center;
  padding: 1em;

  #duration{
    padding: 0.75em 0;
    font-size: 2em;
  }
}

.headline{
  padding-bottom: 1em;
}
